.container {
    max-width: 1185px!important;
}

.border-bottom {
  border-bottom: 4px solid #003263!important;
}

.border-top {
  border-top: 4px solid #003263!important;
}

h1:after, h3:after {
  content: '';
  display: block;
  width: 60px;
  border-top: 4px solid #003263!important;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1:after {
  margin-left: calc(50% - 30px);
}
